.about {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0 0 0;
  }

  &__title {
    margin: 0 0 130px 0;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
  }

  &__item {
    margin: 0 10px 20px 10px;
  }

  &__cart {
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 10px #056748;
  }

  &__image {
    margin: 0 0 30px 0;
  }

  &__cart-title {
    font-weight: 600;
    font-size: 24px;
  }

  &__descr {
    max-width: 290px;
  }
  &__success {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
  }
  &__success-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100px;
    background-color: var(--green-color);
    padding: 10px;
    margin: 0 20px;
    font-size: 28px;
    box-shadow: 10px 5px 15px #056748;
    span {
      font-size: 48px;
      font-weight: 700;
      margin-right: 30px;
    }
  }
}
