.modal {
  --transition-time: 0.3s;
  position: fixed;
  inset: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-time), visibility var(--transition-time);
  &__content {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    @media (max-width: 768px) {
      padding: 20px 0 0 0;
    }
  }
  &__image {
    position: relative;
    width: 900px;
    height: 500px;
    overflow: hidden;
    border: 1px solid var(--second-text);
    box-shadow: 0 0 15px #000;
    margin: 20px 0 30px;
    transition: box-shadow 0.3s ease-in-out;

    img {
      position: absolute;
      inset: 0;
      object-fit: cover;
    }
    &:hover {
      box-shadow: 0 0 25px #000;
    }
    @media (max-width: 1024px) {
      width: 650px;
      height: 350px;
    }
    @media (max-width: 768px) {
      width: 500px;
      height: 280px;
    }
    @media (max-width: 600px) {
      width: 400px;
      height: 220px;
    }
    @media (max-width: 480px) {
      width: 300px;
      height: 160px;
    }
    @media (max-width: 360px) {
      width: 250px;
      height: 120px;
    }
  }
  &__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 90px 40px;
    margin: 0 0 30px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10%;
      width: 80%;
      height: 1px;
      background-color: var(--second-text);
    }
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    @media (max-width: 768px) {
      padding: 20px 0px 40px;
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 0 30px 0;
    @media (max-width: 1024px) {
      align-items: center;
    }
  }
  &__title {
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
  &__descr {
    font-size: 20px;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    background-color: #e44545;
    color: #fff;
    font-size: 20px;
    padding: 15px 25px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #e44545;
    svg {
      fill: #fff;
      margin-right: 15px;
    }
    &:hover {
      background-color: #ee5b5b;
      box-shadow: 0 0 15px #e44545;
    }
    @media (max-width: 1024px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      font-size: 18px;
      height: 50px;
      font-size: 18px;
      width: 70%;
    }
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
  &__text {
    align-self: start;
    padding: 0 30px;
    margin: 0 0 30px;
    p {
      margin: 0;
    }
    p:not(:last-child) {
      margin: 0 0 20px 0;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      padding: 0;
      p:not(:last-child) {
        margin: 0 0 15px 0;
      }
    }
  }
  &__text-descr {
    align-self: start;
    padding: 10px 30px;
    p {
      margin: 0;
    }
    p:not(:last-child) {
      margin: 0 0 15px 0;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      padding: 0;
      p:not(:last-child) {
        margin: 0 0 10px 0;
      }
    }
  }
}

.modal::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal__container {
  position: relative;
  width: 1100px;
  min-height: 600px;
  margin: 10px auto;
  display: none;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  cursor: default;
  text-align: left;
}

@media (max-width: 1150px) {
  .modal__container {
    width: 90%;
  }
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
  display: inline-block;
}

.fade {
  opacity: 0;
  transition: opacity var(--transition-time);
}

.fade.animate-open {
  opacity: 1;
  transition: opacity var(--transition-time);
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

// *:focus {
//   outline: 3px red solid;
// }

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  cursor: pointer;
}
