<section class="about" id="about">
  <div class="about__container container">
    <h2 class="about__title title">About</h2>
    <ul class="about__list list-reset">
      <li class="about__cart">
        <div class="about__image">
          <img src="img/about/speed.svg" alt="быстро" />
        </div>
        <div class="about__cart-box">
          <h3 class="about__cart-title">Быстро</h3>
          <p class="about__descr">
            Быстрое время загрузки и взаимодействие без задержек - мой главный
            приоритет.
          </p>
        </div>
      </li>
      <li class="about__cart">
        <div class="about__image">
          <img src="img/about/resp.svg" alt="отзывчивый" />
        </div>
        <div class="about__cart-box">
          <h3 class="about__cart-title">Отзывчивый</h3>
          <p class="about__descr">
            Мои макеты будут работать на любом устройстве: большом или
            маленьком.
          </p>
        </div>
      </li>
      <li class="about__cart">
        <div class="about__image">
          <img src="img/about/ui.svg" alt="ui" />
        </div>
        <div class="about__cart-box">
          <h3 class="about__cart-title">Интуитивно понятный</h3>
          <p class="about__descr">
            Сильное предпочтение простому в использовании, интуитивно понятному
            UX/UI.
          </p>
        </div>
      </li>
      <li class="about__cart">
        <div class="about__image">
          <img src="img/about/rocket.svg" alt="динамичный" />
        </div>
        <div class="about__cart-box">
          <h3 class="about__cart-title">Динамичный</h3>
          <p class="about__descr">
            Веб-сайты не должны быть статичными, мне нравится оживлять страницы.
          </p>
        </div>
      </li>
    </ul>
    <ul class="about__success list-reset">
      <li class="about__success-item">
        <span>2+ </span>
        years of practice
      </li>
      <li class="about__success-item">
        <span>23+ </span>
        projects
      </li>
    </ul>
  </div>
</section>
