<section class="about">
  <div class="about__container container">
    <h2 class="about__title title">About</h2>
    <ul class="about__list list-reset">
      <li class="about__item">
        <article class="about__cart">
          <div class="about__image">img</div>
          <h3 class="about__cart-title">Быстро</h3>
          <p class="about__descr">
            Быстрое время загрузки и взаимодействие без задержек, мой главный
            приоритет.
          </p>
        </article>
      </li>
      <li class="about__item">
        <article class="about__cart">
          <div class="about__image">img</div>
          <h3 class="about__cart-title">Быстро</h3>
          <p class="about__descr">
            Быстрое время загрузки и взаимодействие без задержек, мой главный
            приоритет.
          </p>
        </article>
      </li>
      <li class="about__item">
        <article class="about__cart">
          <div class="about__image">img</div>
          <h3 class="about__cart-title">Быстро</h3>
          <p class="about__descr">
            Быстрое время загрузки и взаимодействие без задержек, мой главный
            приоритет.
          </p>
        </article>
      </li>
      <li class="about__item">
        <article class="about__cart">
          <div class="about__image">img</div>
          <h3 class="about__cart-title">Быстро</h3>
          <p class="about__descr">
            Быстрое время загрузки и взаимодействие без задержек, мой главный
            приоритет.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
