<section class="hero">
  <div class="hero__bg">
    <picture>
      <source srcset="img/hero2.webp" type="image/webp" />
      <img
        src="img/hero2.jpg"
        class="hero__bg-img"
        width="1920"
        height="1080"
        alt="фон"
        aria-label="hidden"
      />
    </picture>
  </div>
  <div class="hero__container container">
    <div class="hero__image">
      <picture>
        <source srcset="img/.webp" type="image/webp" />
        <img src="img/.jpg" width="300" height="300" alt="" />
      </picture>
    </div>
    <div class="hero__box">
      <div class="hero__content">
        <h1 class="hero__title">Evgenii Kalukov</h1>
        <p class="hero__descr">Front end Developer</p>
        <button class="hero__button">Посмотреть работы</button>
      </div>
      <div class="hero__sci">
        <div class="hero__item">m</div>
        <div class="hero__item">p</div>
        <div class="hero__item">t</div>
        <div class="hero__item">g</div>
      </div>
    </div>
  </div>
</section>
