<div class="modal">
  <div class="modal__container" role="dialog" aria-modal="true" data-target="1">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <p class="modal__descr">Body Time</p>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="2">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Bodao-team</p>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="3">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">R-olio</p>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="4">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Restorant</p>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="5">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Wedding</p>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="6">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Alivio</p>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="7">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">CatMagazine</p>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="8">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Freshnesecom</p>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="9">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Logo-internet-shop</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="10"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Dom-d</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="11"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Yoga</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="12"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Landfoto</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="13"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Modest</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="14"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Berryland</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="15"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Bicycle</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="16"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Bodyfit</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="17"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">PrimeOne</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="18"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Business</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="19"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Test-maket</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="20"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Test-maket-pajames</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="21"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Portfolio V1.0</p>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="22"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <p class="modal__descr">Portfolio V2.0</p>
    </div>
  </div>
</div>
