<div class="modal">
  <div class="modal__container" role="dialog" aria-modal="true" data-target="1">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/body-time/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Body-time.webp" type="image/webp" />
          <img src="img/work/Body-time.jpg" alt="Body-time" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Body Time</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/body-time/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : средняя</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>
          Реализовано модальное окно вызова обратного звонка, содержащего форму
          с валидацией телефонного номера и&nbsp;имени.
        </p>
        <p>Реализован слайдер свайпер с навигацией и пагинацией.</p>
        <p>Реализована форма подписки с&nbsp;валидацией e-mail.</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="2">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/Bodao-team/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Bodao-team.webp" type="image/webp" />
          <img src="img/work/Bodao-team.jpg" alt="Bodao-team" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Bodao team</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/Bodao-team/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="3">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/R-olio/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/R-olio.webp" type="image/webp" />
          <img src="img/work/R-olio.jpg" alt="R-olio" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">R-olio</h3>
          <p class="modal__descr">Интернет магазин</p>
        </div>
        <a
          href="https://makona79.github.io/R-olio/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : средняя</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Реализован слайдер свайпер с навигацией и пагинацией.</p>
        <p>
          Основная трудность была в реализации смены цветов в слайдах
          (картинки,шрифты,кнопки), в зависимости от пунктов меню.
        </p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="4">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/restoran/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/restoran.webp" type="image/webp" />
          <img src="img/work/restoran.jpg" alt="restorant" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Restorant</h3>
          <p class="modal__descr">Интерент магазин</p>
        </div>
        <a
          href="https://makona79.github.io/restoran/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : сложный</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>
          Реализовано сложное меню-шапка, которое меняется и движется за
          продвижением по сайту.
        </p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>
          Реализован слайдер свайпер с навигацией и пагинацией на главном
          экране.
        </p>
        <p>Реализована форма бронирования с&nbsp;валидацией имени.</p>
        <p>Реализована форма подписки с&nbsp;валидацией e-mail.</p>
        <p>
          Реализовано 5 разных слайдеров свайпер с навигацией и пагинацией
          различной сложности с выводом по несколько слайдов.
        </p>
        <p>
          Реализована форма обратной связи с&nbsp;валидацией e-mail и имени.
        </p>
        <p>Реализована карта.</p>
        <p>Реализована видео презентация ресторана.</p>
        <p>
          Реализовано меню с выбором различных блюд, в зависимости от разных
          предпочтений.(табы)
        </p>
        <p>
          Реализована выпадающий текст при нажатии на пункт описания. (спойлеры)
        </p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="5">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/wedding/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Wedding.webp" type="image/webp" />
          <img src="img/work/Wedding.jpg" alt="Wedding" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Wedding</h3>
          <p class="modal__descr">Landing (Свадебный сайт)</p>
        </div>
        <a
          href="https://makona79.github.io/wedding/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : средняя</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>
          Реализовано меню-шапка, которое движется за продвижением по сайту.
        </p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>Реализован таймер: обратный отсчет до дня свадьбы.</p>
        <p>
          Реализован слайдер свайпер с навигацией и пагинацией и с выводом по
          несколько слайдов.
        </p>
        <p>
          Реализовано 3 разных слайдера свайпер с навигацией и пагинацией
          различной сложности с выводом по несколько слайдов и выводом
          мини-картинок в навигацию.
        </p>
        <p>Реализована мини-карта.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="6">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/Alivio-land/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/alivio.webp" type="image/webp" />
          <img src="img/work/alivio.jpg" alt="alivio" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Alivio</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/Alivio-land/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Бургер-меню в мобильной версии сайта.</p>

        <p>
          Реализована модальное окно с видеопрезентацией открывается по клику на
          кнопку play.
        </p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="7">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/Cat-Magazine/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/CatMagazine.webp" type="image/webp" />
          <img src="img/work/CatMagazine.jpg" alt="CatMagazine" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">CatMagazine</h3>
          <p class="modal__descr">Интернет магазин по продаже кошек</p>
        </div>
        <a
          href="https://makona79.github.io/Cat-Magazine/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>Заказ интернет магазина кошек с фриланса</p>
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>
          Реализовано добавление в категорию Favorite с выделение иконки и
          сообщением
        </p>
        <p>Реализована форма подписки.</p>
        <p>Реализована кнопка "вернутся вверх".</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="8">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/freshnesecom/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Freshnesecom.webp" type="image/webp" />
          <img src="img/work/Freshnesecom.jpg" alt="Freshnesecom" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Freshnesecom</h3>
          <p class="modal__descr">Интернет магазин</p>
        </div>
        <a
          href="https://makona79.github.io/freshnesecom/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>
          Реализовано сложное меню-шапка, в котором есть поиск с выбором
          категорий (Select) и выпадающие подкатегории меню.
        </p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>
          Реализован слайдер свайпер с навигацией и пагинацией и с выводом по
          несколько слайдов.
        </p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div class="modal__container" role="dialog" aria-modal="true" data-target="9">
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/logo-magazin/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/logo.webp" type="image/webp" />
          <img src="img/work/logo.jpg" alt="Logo-magazin" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Logo-magazin</h3>
          <p class="modal__descr">Интернет магазин</p>
        </div>
        <a
          href="https://makona79.github.io/logo-magazin/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : сложный</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>
          Реализовано меню-шапка, которое движется за продвижением по сайту.
        </p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>Реализовано боковое меню с выпадающими категориями</p>
        <p>
          Реализован слайдер свайпер с навигацией и пагинацией и с выводом
          минислайдов в навигацию.
        </p>
        <p>
          Реализовано 3 слайдера свайпер с навигацией и пагинацией с выводом по
          несколько слайдов.
        </p>
        <p>Очень много мелких элементов.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="10"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/dom-d/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/dom-d.webp" type="image/webp" />
          <img src="img/work/dom-d.jpg" alt="dom-d" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Dom-d</h3>
          <p class="modal__descr">Landing (заказ строительных работ)</p>
        </div>
        <a
          href="https://makona79.github.io/dom-d/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : средняя</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>
          Реализовано меню-шапка, которое движется за продвижением по сайту.
        </p>
        <p>
          Бургер-меню в оснвной и мобильной версии сайта с видами строительных
          работ.
        </p>
        <p>
          Реализован выбор работ с помощью кнопок (чекбоксы) и кнопка с формой
          отправки заказа с расширенным списком работ.
        </p>
        <p>
          Реализован слайдер свайпер с навигацией и пагинацией и с выводом по
          несколько слайдов.
        </p>
        <p>
          Реализовано модальное окно с видеопрезентацией которое открывается при
          нажатии на кнопку play.
        </p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="11"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/Yoga/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/yoga.webp" type="image/webp" />
          <img src="img/work/yoga.jpg" alt="yoga" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Yoga</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/Yoga/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>
          Реализована анимация по&nbsp;наведению мышкой на кнопки, пункты меню и
          карточки.
        </p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>Реализована кнопка "вернутся на верх"</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="12"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/landfoto/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Landfoto.webp" type="image/webp" />
          <img src="img/work/Landfoto.jpg" alt="Landfoto" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Landfoto</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/landfoto/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Реализовано выпадающее окошко по клику поиск (popup).</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>Реализовано вывод постов с помощью grid сетки.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="13"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/modest/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Modest.webp" type="image/webp" />
          <img src="img/work/Modest.jpg" alt="Modest" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Modest</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/modest/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>
          Реализовано меню-шапка, которое движется за продвижением по сайту.
        </p>
        <p>Бургер-меню в мобильной версии сайта.</p>

        <p>
          Реализован слайдер свайпер с навигацией и пагинацией на главном
          экране.
        </p>
        <p>Реализована галерея которая октрывается в отдельном окне.</p>
        <p>Реализована форма обратной связи с валидацией имени и e-mail.</p>
        <p>Реализована карта.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="14"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/berryland/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Berryland.webp" type="image/webp" />
          <img src="img/work/Berryland.jpg" alt="Berryland" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Berryland</h3>
          <p class="modal__descr">Интернет магазин</p>
        </div>
        <a
          href="https://makona79.github.io/berryland/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Реализовано меню выбора с разными категориями (табы).</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>
          Реализовано добавление карточек в корзину с выбором количества
          продуктов.
        </p>
        <p>Реализован декор в меню бегущий за мышкой.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="15"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/land01/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Bicycle.webp" type="image/webp" />
          <img src="img/work/Bicycle.jpg" alt="Bicycle" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Bicycle</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/land01/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>Реализован слайдер свайпер с навигацией и пагинацией.</p>
        <p>Реализована галерея которая октрывается в отдельном окне.</p>
        <p>Реализована форма подписки с валидацией e-mail.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="16"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/bodyfit/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/bodyfit.webp" type="image/webp" />
          <img src="img/work/bodyfit.jpg" alt="bodyfit" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Bodyfit</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/bodyfit/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>
          Реализован слайдер свайпер с навигацией и пагинацией на главном
          экране.
        </p>
        <p>Реализовано видеопрезентация.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="17"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/land03/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/food.webp" type="image/webp" />
          <img src="img/work/food.jpg" alt="PrimeOne" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">PrimeOne</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/land03/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>Реализована форма обратной связи с валидацией имени и e-mail.</p>
        <p>Реализована карта.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="18"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/land02/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Business.webp" type="image/webp" />
          <img src="img/work/Business.jpg" alt="Business" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Business</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/land02/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>Реализовано меню с выбором категорий на основе табов.</p>
        <p>Реализована карта.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="19"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/Test-maket/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Test-maket.webp" type="image/webp" />
          <img src="img/work/Test-maket.jpg" alt="Test-maket" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Test-maket</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/Test-maket/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : легкий</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Реализована анимация при загрузке блоков.</p>
        <p>Реализована форма обратной связи.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="20"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/testmaket-pajames/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Test-pajames.webp" type="image/webp" />
          <img src="img/work/Test-pajames.jpg" alt="Test-pajames" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Test-pajames</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/testmaket-pajames/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : средний</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>Реализовано выбор размера в виде выпадающего меню (Select)</p>
        <p>Реализовано выбор количество товара и добавление в корзину.</p>
        <p>
          Реализован слайдер свайпер с навигацией и пагинацией на главном
          экране, с выводом миникартинок в навигацию.
        </p>
        <p>Реализована галерея которая октрывается в отдельном окне.</p>
        <p>Реализована добавление в категорию Favorite с сообщением.</p>
        <p>Реализована форма подписки с валидацией e-mail.</p>

        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="21"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>

    <div class="modal__content">
      <a
        href="https://makona79.github.io/My-Portfolio/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Portfolio_v1.0.webp" type="image/webp" />
          <img src="img/work/Portfolio_v1.0" alt="Portfolio V1.0" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Portfolio V1.0</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/My-Portfolio/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : средний</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Реализована анимация текстов и картинок при загрузке блоков.</p>
        <p>
          Фиксированный Бургер-меню в основной и мобильной версии сайта, которое
          движется за продвижением по сайту.
        </p>
        <p>
          Реализовано движение к блоку при клике на пункт меню с названием
          блока.
        </p>

        <p>Реализована галерея работ которые октрывается в отдельном окне.</p>
        <p>В&nbsp;верстке использовался Gulp.</p>
        <p>Дизайн макета создал в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="22"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/Kalukov/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Portfolio_v2.0.webp" type="image/webp" />
          <img src="img/work/Portfolio_v2.0.jpg" alt="Portfolio V2.0" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Portfolio V2.0</h3>
          <p class="modal__descr">Landing</p>
        </div>
        <a
          href="https://makona79.github.io/Kalukov/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : средний</p>
        <p>Используемые технологии : HTML,CSS,JS.</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Реализована анимация текстов и картинок при загрузке блоков.</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>
          Реализовано движение к блоку при клике на пункт меню с названием
          блока.
        </p>

        <p>
          Реализована галерея работ которые октрывается в отдельном окне
          (модальное окно).
        </p>
        <p>
          Реализован модальное окно с описанием работы и ссылкой на сайт,
          которое вызывается при клике на кнопку в галере работ.
        </p>
        <p>
          Реализована кнопка "добавить еще", которая при загрузке максимального
          количества новостей исчезает
        </p>
        <p>В&nbsp;верстке использовался Gulp.</p>
        <p>Дизайн макета создал в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="23"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/berryland-app/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/Berryland.webp" type="image/webp" />
          <img src="img/work/Berryland.jpg" alt="Berryland" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Berryland</h3>
          <p class="modal__descr">Интернет магазин</p>
        </div>
        <a
          href="https://makona79.github.io/berryland-app/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : средний</p>
        <p>Используемые технологии : HTML,CSS,JS&nbsp;&#43;React</p>
      </div>
      <div class="modal__text-descr">
        <p>На React реализованы подключение данных с сервера</p>
        <p>Сортировка подгружаемых данных в зависимости от категории товара</p>
        <p>Разбивка страниц и и переход по ним без перезагрузки страницы</p>
        <p>
          Добавление в корзину и загрузка данных на удаленный сервер в процессе
          разработки
        </p>
        <p></p>
        <p></p>
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Реализовано меню выбора с разными категориями (табы).</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>
          Реализовано добавление карточек в корзину с выбором количества
          продуктов.
        </p>
        <p>Реализован декор в меню бегущий за мышкой.</p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
  <div
    class="modal__container"
    role="dialog"
    aria-modal="true"
    data-target="24"
  >
    <button
      class="btn-reset modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal__content">
      <a
        href="https://makona79.github.io/urban-racers/"
        class="modal__image"
        target="_blank"
      >
        <picture>
          <source srcset="img/work/UrbanRacers.webp" type="image/webp" />
          <img src="img/work/UrbanRacers.jpg" alt="UrbanRacers" />
        </picture>
      </a>
      <div class="modal__box">
        <div class="modal__row">
          <h3 class="modal__title">Urban Racers</h3>
          <p class="modal__descr">Интернет магазин автотюнинга</p>
        </div>
        <a
          href="https://makona79.github.io/urban-racers/"
          class="modal__link"
          target="_blank"
        >
          <svg width="15" height="15" viewBox="0 0 15 15">
            <path
              d="M6.554,9.639a.5.5,0,0,0,.707.707L9.928,7.669a.25.25,0,0,0,0-.354h0L7.261,4.639a.5.5,0,0,0-.707.707L8.2,7H1.5a.5.5,0,0,0,0,1H8.2ZM12,1H5.5a.5.5,0,0,0,0,1h6a.5.5,0,0,1,.5.5v10a.5.5,0,0,1-.5.5H5.25a.5.5,0,0,0,0,1H12a1,1,0,0,0,1-1V2A1,1,0,0,0,12,1Z"
            />
          </svg>
          <span>Посмотреть сайт</span>
        </a>
      </div>
      <div class="modal__text">
        <p>Сложность проекта : средний</p>
        <p>Используемые технологии : HTML,CSS,JS</p>
      </div>
      <div class="modal__text-descr">
        <p>
          Полностью адаптивная верстка под все размеры экрана и&nbsp;гаджеты.
        </p>
        <p>Реализована анимация по&nbsp;наведению мышкой.</p>
        <p>Реализовано меню выбора с разными категориями (табы).</p>
        <p>Бургер-меню в мобильной версии сайта.</p>
        <p>Реализован нестандартный кастомный слайдер.</p>
        <p>Реализован выбор по категориям (селект)</p>
        <p>Реализована форма с полями телефон и email с валидацией.</p>
        <p>
          Реализована кнопка "добавить еще", которая при загрузке максимального
          количества новостей исчезает
        </p>
        <p>В&nbsp;верстке использовался Pixel perfect, Gulp.</p>
        <p>Макет был предоставлен в&nbsp;Figma.</p>
      </div>
    </div>
  </div>
</div>
