<div class="graph-modal">
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="first"
  >
    <button
      class="btn-reset graph-modal__close js-modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <!-- контент модального окна -->
      <p class="fuck">
        Далеко-далеко за словесными горами в стране гласных и согласных живут
        рыбные тексты. Пояс но города родного агентство единственное текстов
        запятых правилами алфавит решила своих. За сбить которой она взгляд
        снова деревни своего?
      </p>
    </div>
  </div>
</div>
