<section class="portfolio">
  <div class="portfolio__container container">
    <h2 class="portfolio__title title">Portfolio</h2>
    <div class="portfolio__content">
      <article class="portfolio__block">
        <div class="portfolio__image">
          <picture>
            <source srcset="img/work/alivio.webp" type="image/webp" />
            <img src="img/work/alivio.jpg" width="300" height="300" alt="" />
          </picture>
        </div>
        <div target="_blank" class="portfolio__box">
          <div class="portfolio__row">
            <h3 class="portfolio__title-card">название</h3>
            <p class="portfolio__descr-card">Описание проекта</p>
            <p class="portfolio__tech-card">технологии</p>
          </div>
          <button class="portfolio__button-card btn btn-reset">
            <span>Узнать больше</span>
          </button>
        </div>
      </article>
      <article class="portfolio__block">
        <div class="portfolio__image">
          <picture>
            <source srcset="img/work/alivio.webp" type="image/webp" />
            <img src="img/work/alivio.jpg" width="300" height="300" alt="" />
          </picture>
        </div>
        <div target="_blank" class="portfolio__box">
          <div class="portfolio__row">
            <h3 class="portfolio__title-card">название</h3>
            <p class="portfolio__descr-card">Описание проекта</p>
            <p class="portfolio__tech-card">технологии</p>
          </div>
          <button class="portfolio__button-card btn btn-reset">
            <span>Узнать больше</span>
          </button>
        </div>
      </article>
      <article class="portfolio__block">
        <div class="portfolio__image">
          <picture>
            <source srcset="img/work/alivio.webp" type="image/webp" />
            <img src="img/work/alivio.jpg" width="300" height="300" alt="" />
          </picture>
        </div>
        <div target="_blank" class="portfolio__box">
          <div class="portfolio__row">
            <h3 class="portfolio__title-card">название</h3>
            <p class="portfolio__descr-card">Описание проекта</p>
            <p class="portfolio__tech-card">технологии</p>
          </div>
          <button class="portfolio__button-card btn btn-reset">
            <span>Узнать больше</span>
          </button>
        </div>
      </article>
      <article class="portfolio__block">
        <div class="portfolio__image">
          <picture>
            <source srcset="img/work/alivio.webp" type="image/webp" />
            <img src="img/work/alivio.jpg" width="300" height="300" alt="" />
          </picture>
        </div>
        <div target="_blank" class="portfolio__box">
          <div class="portfolio__row">
            <h3 class="portfolio__title-card">название</h3>
            <p class="portfolio__descr-card">Описание проекта</p>
            <p class="portfolio__tech-card">технологии</p>
          </div>
          <button class="portfolio__button-card btn btn-reset">
            <span>Узнать больше</span>
          </button>
        </div>
      </article>
    </div>
  </div>
</section>
