<section class="portfolio section" id="portfolio">
  <div class="portfolio__container container">
    <h2 class="portfolio__title title">Portfolio</h2>
    <ul class="portfolio__content list-reset">
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Eurokran.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Eurokran.jpg" width="300" height="300" alt="Eurokran" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Eurokran</h3>
              <p class="portfolio__descr-card">Корпоративный сайт</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="26" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Berryland.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Berryland.jpg" width="300" height="300" alt="Berryland" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Berryland</h3>
              <p class="portfolio__descr-card">Интернет магазин</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="14" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/sportmoda.webp" type="image/webp" />
              <img loading="lazy" src="img/work/sportmoda.jpg" width="300" height="300" alt="sportmoda" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Sportmoda</h3>
              <p class="portfolio__descr-card">Интернет магазин</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="25" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <!-- <li class="portfolio__item">
            <article class="portfolio__block">
               <div class="portfolio__image">
                  <picture>
                     <source srcset="img/work/Berryland.webp" type="image/webp" />
                     <img loading="lazy" src="img/work/Berryland.jpg" width="300" height="300" alt="Berryland" />
                  </picture>
               </div>
               <div class="portfolio__box">
                  <div class="portfolio__row">
                     <h3 class="portfolio__title-card">Berryland</h3>
                     <p class="portfolio__descr-card">Интернет магазин</p>
                     <p class="portfolio__tech-card">HTML,CSS,JS&nbsp;&#43;React</p>
                  </div>
                  <button class="portfolio__button-card btn btn-reset" data-path="23" data-animation="fadeInUp"
                     data-speed="300">
                     <span>Узнать больше</span>
                  </button>
               </div>
            </article>
         </li> -->
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/UrbanRacers.webp" type="image/webp" />
              <img loading="lazy" src="img/work/UrbanRacers.jpg" width="300" height="300" alt="Berryland" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Urban Racers</h3>
              <p class="portfolio__descr-card">Интернет магазин автотюнинга</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="24" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Body-time.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Body-time.jpg" width="300" height="300" alt="Body-time" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Body-time</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset modal-btn" data-path="1" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Bodao-team.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Bodao-team.jpg" width="300" height="300" alt="Bodao-team" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Bodao-team</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset modal-btn" data-path="2" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/R-olio.webp" type="image/webp" />
              <img loading="lazy" src="img/work/R-olio.jpg" width="300" height="300" alt="R-olio" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">R-olio</h3>
              <p class="portfolio__descr-card">Интернет магазин</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset modal-btn" data-path="3" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/restoran.webp" type="image/webp" />
              <img loading="lazy" src="img/work/restoran.jpg" width="300" height="300" alt="restoran" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Restorant</h3>
              <p class="portfolio__descr-card">Интернет магазин</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="4" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Wedding.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Wedding.jpg" width="300" height="300" alt="Wedding" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Wedding</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="5" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/alivio.webp" type="image/webp" />
              <img loading="lazy" src="img/work/alivio.jpg" width="300" height="300" alt="alivio" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Alivio</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="6" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/CatMagazine.webp" type="image/webp" />
              <img loading="lazy" src="img/work/CatMagazine.jpg" width="300" height="300" alt="CatMagazine" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">CatMagazine</h3>
              <p class="portfolio__descr-card">Интернет магазин</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="7" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Freshnesecom.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Freshnesecom.jpg" width="300" height="300" alt="Freshnesecom" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Freshnesecom</h3>
              <p class="portfolio__descr-card">Интернет магазин</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="8" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/logo.webp" type="image/webp" />
              <img loading="lazy" src="img/work/logo.jpg" width="300" height="300" alt="Logo-internet-shop" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Logo-internet-shop</h3>
              <p class="portfolio__descr-card">Интернет магазин</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="9" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/dom-d.webp" type="image/webp" />
              <img loading="lazy" src="img/work/dom-d.jpg" width="300" height="300" alt="dom-d" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Dom-d</h3>
              <p class="portfolio__descr-card">Интернет магазин</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="10" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/yoga.webp" type="image/webp" />
              <img loading="lazy" src="img/work/yoga.jpg" width="300" height="300" alt="Yoga" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Yoga</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="11" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Landfoto.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Landfoto.jpg" width="300" height="300" alt="Landfoto" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Landfoto</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="12" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Modest.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Modest.jpg" width="300" height="300" alt="Modest" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Modest</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="13" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>

      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Bicycle.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Bicycle.jpg" width="300" height="300" alt="Bicycle" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Bicycle</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="15" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/bodyfit.webp" type="image/webp" />
              <img loading="lazy" src="img/work/bodyfit.jpg" width="300" height="300" alt="bodyfit" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">bodyfit</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="16" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/food.webp" type="image/webp" />
              <img loading="lazy" src="img/work/food.jpg" width="300" height="300" alt="PrimeOne" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">PrimeOne</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="17" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Business.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Business.jpg" width="300" height="300" alt="Business" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Business</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="18" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Test-maket.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Test-maket.jpg" width="300" height="300" alt="Test-maket" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Test-maket</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="19" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Test-pajames.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Test-pajames.jpg" width="300" height="300" alt="Test-maket-pajames" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Test-maket-pajames</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="20" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Portfolio_v1.0.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Portfolio_v1.0.jpg" width="300" height="300" alt="Portfolio 1.0" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Portfolio 1.0</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="21" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio__block">
          <div class="portfolio__image">
            <picture>
              <source srcset="img/work/Portfolio_v2.0.webp" type="image/webp" />
              <img loading="lazy" src="img/work/Portfolio_v2.0.jpg" width="300" height="300" alt="Portfolio 2.0" />
            </picture>
          </div>
          <div class="portfolio__box">
            <div class="portfolio__row">
              <h3 class="portfolio__title-card">Portfolio 2.0</h3>
              <p class="portfolio__descr-card">Landing</p>
              <p class="portfolio__tech-card">HTML,CSS,JS</p>
            </div>
            <button class="portfolio__button-card btn btn-reset" data-path="22" data-animation="fadeInUp"
              data-speed="300">
              <span>Узнать больше</span>
            </button>
          </div>
        </article>
      </li>
      <li class="portfolio__item"></li>

    </ul>
    <div class="portfolio__button btn-box">
      <button class="show-more btn-reset">Показать ещё</button>
    </div>
  </div>
</section>
