<section class="portfolio">
  <div class="portfolio__container container">
    <h2 class="portfolio__title title">Portfolio</h2>
    <div class="portfolio__content">
      <div class="portfolio__block">
        <div class="portfolio__image">
          <picture>
            <source srcset="img/work/alivio.webp" type="image/webp" />
            <img src="img/work/alivio.jpg" width="300" height="300" alt="" />
          </picture>
        </div>
        <div class="portfolio__box">
          <h3 class="portfolio__title">название</h3>
          <p class="portfolio__descr">Описание проекта</p>
          <p class="portfolio__tech">технологии</p>
          <button class="portfolio__button">Узнать больше</button>
        </div>
      </div>
      <div class="portfolio__block"></div>
      <div class="portfolio__block">g</div>
      <div class="portfolio__block">g</div>
    </div>
  </div>
</section>
